font: default,14
bg_color: #f0f2f5
line_height: 1.28
text_indent: 0.5
font_color: #78808c
error_font_color: #d15a79
cursor_color: #16b0ff
cursor_width: 2
vim_cursor_color: #d15a79
vim_cursor_width: 2
unfocused_font_color: #d5dae0
plain_header_font_color: #111111
header_font_color: #262e3b
pygments_style: trac
line_color: #8a939d
heavy_line_color: #666666
splitter_color: #e9edf2
title_bar_bg_color: #212532
title_bar_bg_opacity: 1
scrollbar_narrow_width: 1
scrollbar_width: 1
scrollbar_bg_color: #f0f2f5
scrollbar_thumb_color: #c4c4c4
scrollbar_hovered_thumb_color: #909090
tb_bg_color: #212532
tb_bg_line_color: #212532
tb_tab_font_color: #515864
tb_tab_hovered_font_color: #e4e8f6
tb_tab_selected_font_color: #e4e8f6
tb_tab_selected_line_color: #212532
markup_font_color: #8a939d
list_sign_font_color: #52b4d9
todo_undone_color: #d15a79
todo_done_color: #d5dae0
code_font_color: #52b4d9
deleted_font_color: #888888
quote_sign_font_color: #16b0ff
quote_font_color: #999999
bold_font_color: #c97a1f
italic_font_color: #295461
link_font_color: #647185
link_bg_color: #f0f2f5
link_alt_font_color: #4eb45f
link_refer_font_color: #52b4d9
image_font_color: #4eb45f
image_src_font_color: #647185
image_bg_color: #f0f2f5
footnote_font_color: #b45a5a
flow_line_width: 2
toc_pound_sign_font_color: #999999
toc_bg_color: #f0f2f5
toc_focused_bg_color: #ddecf2
comment_font_color: #cccccc
editor_selected_font_color: #3c3c3c
editor_selected_bg_color: #ddecf2
editor_progress_bg_color: #52b4d9
image_preview: true
colorful: true
keyword_bg_color: #52b4d9
bg_color_for_export: #ffffff
bg_color_for_mobile: #fff
font_color_for_export: #111111
font_color_for_mobile: #4c4436
html_header_font_color: #333333
html_bold_font_color: #000000
html_block_bg_color: #fdfdfd
html_pre_bg_color: #f7f7f7
html_code_bg_color: #f5f5f5
html_line_color: #e3e3e3
html_strong_weight: bold
html_quote_sign_font_color: #dddddd
ls_bg_color: #f0f2f5
ls_selected_bg_color: #59b5d7
ls_font_color: #60656c
ls_hovered_font_color: #ffffff
ls_font_size: 12
ls_line_color: #e9edf2
ls_controls_line_color: #eaeef3
ls_controls_bg_color: #eaeef3
ls_controls_font_color: #647185
ls_item_height: 3em
ft_line_color: #eaeef3
ft_bg_color1: #ffffff
ft_bg_color2: #fafafa
ft_button_font_color: #647185
ft_button_font_size: 13
ft_label_font_size: 13
ft_button_hovered_font_color: #52b4d9
ft_button_checked_font_color: #52b4d9
ft_text_font_color: #647185
tray_window_bg_color: #dddddd
tray_window_line_color: #cccccc
tray_window_font_color: #333333
tray_window_button_color: #666666
tray_window_button_hovered_color: #ff0000
tb_bg_color3: #f8f8f8
tb_font_color: #999999
tb_bg_color1: #f0f2f5
tb_bg_bottom_line_color: #ffffff
tb_bg_color2: #f0f2f5